{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "9",
          "chrome": "49",
          "firefox": "45",
          "safari": "10",
          "edge": "12"
        },
        "modules": false,
        "useBuiltIns": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
